<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Elizabet.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Elizabet Santana </p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span id="acercade">
            <h1>Acerca de mí</h1>
            <p>Estoy firmemente comprometida a seguir aprendiendo y superando mis propios límites como desarrolladora. Mi pasión por la tecnología y el desarrollo web me impulsa a explorar constantemente nuevas herramientas y lenguajes, buscando ampliar mi conjunto de habilidades y mantenerme actualizada con las últimas tendencias. Me emociona asumir desafíos complejos, ya que considero cada obstáculo como una oportunidad para crecer y mejorar mi capacidad para resolver problemas de manera creativa y eficiente. Mi voluntad inquebrantable de aprender y mi disposición para enfrentar nuevos retos son el motor que me impulsa a alcanzar la excelencia en mi carrera profesional.</p>
        </span>
    </div>
</div>
