<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Elizabet.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Elizabet Santana </p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span id="acercade">
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam dolores maiores totam ut, animi natus hic earum id deserunt odit eos error quo deleniti quis cumque labore, tempora placeat accusantium!</p>
        </span>
    </div>
</div>
