<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <div class="card">
                    <img src="/Frontend/img/1.png" alt="Project Image" class="img-proyecto">
                    <div class="content">
                        <h2 class="title">As-Lun</h2>
                        <p class="copy">"La SPA desarrollada en Angular con Bootstrap, HTML, CSS y TypeScript ofrece una experiencia de usuario altamente interactiva y receptiva, con una arquitectura modular y enrutamiento eficiente para un rendimiento óptimo."</p>
                        <button class="btn">View Trips</button>
                    </div>
                </div>            </div>
        </div>
    </div>
</div>