<div class="wrapper">
    <h1>Proyectos</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/Frontend/src/assets/1.png)">
                    <div class="inner">
                        <p>As-Lun</p>
                        <span>Spa en línea</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Spa en línea, desarrollada con Angular, Bootstrap, HTML, CSS y TypeScript</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/511/511/)">
                    <div class="inner">
                        <p>Rocogged</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
               <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                    <div class="inner">
                        <p>Sohanidd</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="𝔼𝕝𝕚𝕫𝕒𝕓𝕖𝕥-𝕊𝕒𝕟𝕥𝕒𝕟𝕒-452936252" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ar.linkedin.com/in/%F0%9D%94%BC%F0%9D%95%9D%F0%9D%95%9A%F0%9D%95%AB%F0%9D%95%92%F0%9D%95%93%F0%9D%95%96%F0%9D%95%A5-%F0%9D%95%8A%F0%9D%95%92%F0%9D%95%9F%F0%9D%95%A5%F0%9D%95%92%F0%9D%95%9F%F0%9D%95%92-452936252?trk=profile-badge">𝔼𝕝𝕚𝕫𝕒𝕓𝕖𝕥 𝕊𝕒𝕟𝕥𝕒𝕟𝕒</a></div>
              
</div>